<!DOCTYPE html>
<html>

  <head>
    <title>Cognitive Computing</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
          <marquee><h1>Welcome!</h1></marquee>
          <center>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/><br/><br/><br/><br/>
          <b>This web application uses&nbsp;
          <span class = "blue">NodeJS + Watson Visual Recognition Service</span>.</b></center>
          <br/><br/>
          <br/><br/>
          <center>
            <form method="post" enctype="multipart/form-data" action="/">
                <p>
                  <b style="font-size:25px; color:brown">Please upload your image here</b><br/><br/>
                  <input type="file" name="upl" accept="image/*" required="required">
                <input type="submit" name="submit" value="Upload Image">
                </p>
            </form>
          </center>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <span class = "black"><h4 style="text-align:right;">Created by Mansoor Baba Shaik &amp; Siddharth Hathi</h4></span>

  </body>

</html>
